@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../assets/fundo.jpg");
  background-size: cover;
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
}
.titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  color: white;
  font-size: 5rem;
  padding: 5rem;
}

.titulo h1:hover {
  text-shadow: 0 0 2rem white;
}
.saldoatualizadotitulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}
.saldosh2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  font-size: 2.5rem;
}
.main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  gap: 5rem;
}
.bloco {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}

.divtabela {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  padding: 4rem;
  border-radius: 2rem;
}
.tabela {
  height: 300px;
  width: 800px;
  color: white;
  font-size: 10rem;
}

th {
  font-size: 3rem;
}
td {
  font-size: 2rem;
}

td button {
  font-size: 3rem;
  color: red;
  border: 0.1rem solid red;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alinhar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: aliceblue;
}
.option1 {
  background-color: green;
}
.option2 {
  background-color: red;
}

/* ################################################## Linhas ################################################## */

.linha {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  width: 100%;
  height: 25rem;
  padding-left: 5rem;
  padding-right: 5rem;
}
.textocard {
  height: 20rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.textocard h2 {
  color: white;
  font-size: 3rem;
  cursor: pointer;
}

.sombrabranca:hover {
  text-shadow: 0 0 2rem white;
}

.sombravermelha:hover {
  text-shadow: 0 0 2rem red;
}

.sombraverde:hover {
  text-shadow: 0 0 2rem green;
}
.informacoes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.informacoes label {
  color: white;
  font-size: 2rem;
}

.informacoes input {
  font-size: 2rem;
}
.botao {
  height: 4rem;
  width: 20rem;
  font-size: 2.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.botao:hover {
  box-shadow: 0 0 1rem white;
  background-color: black;
  color: white;
  border: 0.1rem solid white;
}
.divlabeleinput {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.esconder {
  display: none;
}
.select {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.divselect {
  font-size: 2rem;
}
/* ################################################## Linha 1 ################################################## */

.divimg1 {
  height: 15rem;
  width: 15rem;
  display: flex;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/receita.png");
  background-size: cover;
  cursor: pointer;
}

.divimg1:hover {
  box-shadow: 0 0 2rem green;
}

.inputreceita {
  font-size: 2rem;
  color: green;
  font-size: 2rem;
}

.inputdespesa {
  font-size: 2rem;
  color: red;
  font-size: 2rem;
}
/* ################################################## Linha 1 ################################################## */

.divimg2 {
  height: 15rem;
  width: 15rem;
  display: flex;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/despesa.jpg");
  background-size: cover;
  cursor: pointer;
}

.divimg2:hover {
  box-shadow: 0 0 2rem red;
}

.inputdespesa {
  font-size: 2rem;
  color: red;
}
