@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../assets/fundo.jpg");
  background-size: cover;
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  flex-direction: column;
  gap: 5rem;
}
.main h1 {
  color: white;
  font-size: 4rem;
}
/* ################################################## Linhas ################################################## */

.linha {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  width: 100%;
  height: 25rem;
  padding-left: 5rem;
  padding-right: 5rem;
}
.textocard {
  height: 20rem;
  width: 80rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.textocard h2 {
  color: white;
  font-size: 3rem;
}
.textocard h3 {
  text-align: justify;
  color: white;
  font-size: 2rem;
  font-weight: 300;
}
/* ################################################## Linha 1 ################################################## */

.divimg1 {
  height: 15rem;
  width: 15rem;
  display: flex;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/");
  background-size: cover;
}
/* ################################################## Linha 2 ################################################## */

.divimg2 {
  height: 15rem;
  width: 15rem;
  display: flex;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/js.png");
  background-size: cover;
}
/* ################################################## Linha 3 ################################################## */

.divimg3 {
  height: 15rem;
  width: 15rem;
  display: flex;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/Orientacaoaobjeto.jpg");
  background-size: cover;
  background-position: center;
}

/* ################################################## Linha 4 ################################################## */

.divimg4 {
  height: 15rem;
  width: 15rem;
  display: flex;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/java.png");
  background-size: cover;
  background-position: center;
}

/* ################################################## Linha 5 ################################################## */

.divimg5 {
  height: 15rem;
  width: 15rem;
  display: flex;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/nodejs.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}
